.popup {
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.5s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__close-icon {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  cursor: pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -36px;
    right: -1px;
    background-size: 19px;
  }
}

.popup__container {
  background-color: #FFFFFF;
  width: 430px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 530px) {
  .popup__container {
    width: 282px;
  }
}

.popup__register {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup__register-heading {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 60px;
  margin-top: 32px;
  text-align: center;
  width: 358px;
}