.techs {
  background: #272727;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.techs__main {
  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .techs__main {
    width: 91%;
  }
}

.techs__title {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin-top: 86px;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .techs__title {
    margin-top: 77px;
  }
}

@media screen and (max-width: 500px) {
  .techs__title {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-top: 62px;
  }
}

.techs__subtitle {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin-top: 26px;
  margin-bottom: 0;
  max-width: 460px;
}

@media screen and (max-width: 800px) {
  .techs__subtitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 500px) {
  .techs__subtitle {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    /* margin-top: 22px; */
  }
}

.techs__box {
  display: flex;
  width: 89.5%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
  .techs__box {
    margin-top: 83px;
    width: 92%;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .techs__box {
    max-width: 178px;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    margin-top: 50px;
  }
}

.techs__card {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #303030;
  /* margin-right: 10px; */
}

@media screen and (max-width: 800px) {
  .techs__card {
    width: 84px;
    height: 57px;
    /* margin-right: 10px; */
  }
}

.techs__card:last-child {
  margin-right: 0;
}

.techs__text {
  color: #FFF;
  text-align: center;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  margin: 21px auto;
}

@media screen and (max-width: 800px) {
  .techs__text {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}